<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<style type="text/css">
    .recipe-detail{
        width: 50%;
        border-radius: 10px;
        border: #c0c0c0 solid 3px;
        margin-top: 40px;
        padding: 0;
    }
</style>
<body>
<div class="recipe-detail">
<h2>宫保鸡丁</h2>
<image src="https://raw.githubusercontent.com/duanCoin/nutrition-recipes-image/master/image/%E4%B9%8C%E9%B8%A1%E9%A6%99%E8%8F%87%E7%BA%A2%E6%9E%A3%E6%B1%A4.jpg"></image>
    <h3>原料：最后，糖的粗细。在曲奇的配方中，细砂糖和糖粉是同时存在的，这是为了平衡曲奇的延展性。只用糖粉的曲奇</h3>
    <h3>做法：1. 曲奇饼干，很受欢迎的一款烘焙食品。 2. 不管是大人，还是小孩，都难以抵制对它的诱惑。商场曲奇饼干，一罐也不便宜，真是舍不得买。 3. 每次小家伙想要的时候，我就对她说，“回去，妈妈给你做”小家伙倒也蛮听话，屁颠屁颠的就跟我走了。曲奇饼干，也做过好多</h3>
</div>
</body>
</html>