.header {
    margin-top: 0;
    height: 80px;
    background-color: #ece8cf;
    margin-bottom: 20px;
}

.logo {
    margin-left: 80px;
    width: 100px;
    height: 80px;
}

h3 {

    display: inline-block;
}

