body {
    margin-top: 0;
}

.login {
    border-radius: 10px;
    border: #c0c0c0 solid 3px;
    margin: 30px;
    min-height: 450px;
    text-align: center;
    margin: auto;
    width: 95%;
    margin-bottom: 20px;
}

#div-input {
    width: 40%;
    margin-top: 20px;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
}


.nav-center {
    margin-left: 35%;
    width: 30%;
    margin-bottom: 20px;
}

.home-content {
    margin-top: 10px;
}

.loginPage{
    min-height: 660px;;
    position:relative;
}

#home-center {
    padding-bottom: 80px;
}

.recipe-img {
    height: 200px;
    width: 200px;
}

.menu-div {
    height: 250px;
    weight: 220px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}




